:root {
  --Base-color: #36b37e;
  --Accent-color: #ffc400;
  --Background-color: #f3f5f7;
  --Secondary-bg-color: #ffffff;
  --Text-color: #333f50;
  --Secondary-text-color: #9b9b9b;
  --add-btn-color: #2d4acd;
  --add-btn-hover: hsl(229, 80%, 30%);
  --top-priority: #ef4040;
  --medium-priority: #f08935;

  --top-bottom-padding: 16px;
  --right-left-padding: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--Text-color);
  position: relative;
}

header {
  background-color: var(--Base-color);
  color: var(--Accent-color);
  padding-block: var(--top-bottom-padding);
  padding-inline: var(--right-left-padding);
}

h1 img {
  width: 30px;
  height: 28px;
  vertical-align: middle;
  color: var(--Accent-color);
}

main {
  background-color: var(--Background-color);
}

main .content {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(120px, 20%) 1fr;
  grid-template-rows: 1fr;
  padding-left: var(--right-left-padding);
}

main .side-bar {
  padding-block: var(--top-bottom-padding);
}

.side-bar .wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  margin-bottom: var(--top-bottom-padding);
  margin-right: var(--right-left-padding);
  border-radius: 10px;
  cursor: pointer;
}

.side-bar .wrapper:hover {
  background-color: var(--Secondary-bg-color);
}
.side-bar .wrapper.active {
  background-color: var(--Secondary-bg-color);
}

.side-bar #add-project {
  background-color: var(--add-btn-color);
  color: var(--Secondary-bg-color);
  width: 60%;
  font-weight: 600;
}

.side-bar #add-project:is(:hover, :focus) {
  background-color: var(--add-btn-hover);
}

.wrapper h2 {
  font-size: 18px;
}

.wrapper img {
  width: 20px;
  height: 20px;
}

/* close icon */
.wrapper .close-icon {
  margin-left: auto;
}

.projects h2 {
  margin-bottom: var(--top-bottom-padding);
}

main .main-content {
  background-color: var(--Secondary-bg-color);
  display: grid;
  place-items: center;
}

.main-content .container {
  width: 90%;
  height: 90%;
  margin-bottom: 32px;
}

.container .add-task {
  background-color: var(--add-btn-color);
  color: var(--Background-color);
  font-size: 14px;
  margin-block: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: fit-content;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.container .add-task:is(:hover, :focus) {
  background-color: var(--add-btn-hover);
}

.container .add-task img {
  width: 15px;
  height: 15px;
}

footer {
  text-align: center;
  padding-block: var(--top-bottom-padding);
  padding-inline: var(--right-left-padding);
  background-color: var(--Base-color);
  color: var(--Accent-color);
}

.modal,
.task-modal,
.update-task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: var(--Base-color);
  color: var(--Background-color);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal .btn-container,
.task-modal .btn-container,
.update-task-modal .btn-container {
  align-self: center;
  display: flex;
  gap: 8px;
}

.modal .btn-container button,
.task-modal .btn-container button,
.update-task-modal .btn-container button {
  color: var(--Background-color);
  background-color: var(--Text-color);
  outline: transparent;
  border: 0;
  min-width: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-container button:is(:hover, :focus) {
  background-color: var(--Accent-color);
}

/* task container styles */

.task {
  background-color: var(--Background-color);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.task .task-header {
  display: flex;
  gap: 16px;
}

.task .task-header h3 {
  margin-right: auto;
}

.task-header img {
  width: 20px;
  height: 20px;
}

.task-header h3,
.task-header img {
  cursor: pointer;
}

.task-due-date {
  background-color: var(--Accent-color);
  color: var(--Secondary-bg-color);
  padding: 4px;
  border-radius: 8px;
}

.task-priority {
  color: var(--Secondary-bg-color);
  padding: 4px;
  border-radius: 8px;
}

.top {
  background-color: var(--top-priority);
}

.medium {
  background-color: var(--medium-priority);
}

.low {
  background-color: var(--Base-color);
}

.task .task-details {
  --spacer: 10px;
  margin-block: var(--spacer);
  display: none;
  flex-direction: column;
  align-items: center;
}

.task-details .task-btns-container {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer);
  margin-block: var(--spacer);
}

.task-btns-container button {
  min-width: 100px;
  padding-block: 5px;
  cursor: pointer;
}

.task-btns-container .edit-task-btn {
  background-color: var(--Base-color);
  opacity: 0.7;
  color: var(--Background-color);
  font-weight: 600;
  outline: transparent;
  border: 0;
  border-radius: 8px;
}

.task-btns-container .remove-task-btn {
  background-color: rgb(218 0 0);
  opacity: 0.7;
  color: var(--Background-color);
  font-weight: 600;
  outline: transparent;
  border: 0;
  border-radius: 8px;
}

.edit-task-btn:is(:hover, :focus),
.remove-task-btn:is(:hover, :focus) {
  opacity: 1;
}
